.city {
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .city i {
    position: static;
  }
  
  .info {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }