.wrapper {
  background-color: #d63e79;
  position: relative;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper:nth-child(4n - 6),
.wrapper:nth-child(4n - 5) {
  background-color: #ec4c8a;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  position: absolute;
  bottom: 3px;
}

.info span {
  align-self: flex-end;
}

.map {
  display: block;
  min-width: 158px;
  min-height: 150px;
  filter: brightness(0);
  opacity: 0.2;
}
